.nav-list {
    height: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 2px;
    border: 2px solid #000000;
    background-color: #d42323;
    position: relative;
}

.nav-item {
    float: left;
}

.nav-item a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 8px;
    margin: 2px 1px 2px 1px;
}

.widget-container {
    position: absolute;
    right: 40px;
    top: 6px;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
}
